body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    height: 100%;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-height: 630px;
    transition: .7s;
}

span {
    display: inline-block;
    margin: 0 2px;
    transition: .5s;
}

span:hover {
    transform: scale(1.8);
    color: greenyellow;
    cursor: pointer;
}

.button {
    background-color: greenyellow;
    border: none;
    padding: 10px;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    transition: .3s;
    margin-top: 20px;
    opacity: 0.8;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
}

.dark {
    background-color: black;
}

.dark-button {
    background-color: orangered;
    color: white;
}

.dark-text {
    color: white;
}

.dark-text span:hover {
    color: orangered;
}